[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Svg Part
Name[de]=Svg-Komponente
Name[el]=Τμήμα Svg
Name[eo]=Svg komponanto
Name[es]=Parte SVG
Name[et]=Svg komponent
Name[ja]=SVG パート
Name[ko]=Svg 부분
Name[nds]=SVG-Komponent
Name[nl]=SVG-component
Name[pl]=Moduł SVG
Name[pt]=Componente de SVG
Name[pt_BR]=Componente de SVG
Name[sv]=SVG-delprogram
Name[x-test]=xxSvg Partxx
Name[zh_CN]=Svg 组件
Name[zh_TW]=Svg 部件
MimeType=image/svg+xml;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=svgpart
InitialPreference=12
Icon=svg
