[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Svg Part
Name[cs]=SVG komponenta
Name[de]=Svg-Komponente
Name[el]=Τμήμα Svg
Name[eo]=Svg komponanto
Name[es]=Parte SVG
Name[et]=Svg komponent
Name[fi]=SVG-osa
Name[fr]=Composant SVG
Name[ga]=Comhpháirt Svg
Name[gl]=Componente de SVG
Name[hu]=SVG objektum
Name[is]=Svg hlutur
Name[it]=Componente SVG
Name[ja]=SVG パート
Name[km]=ផ្នែក Svg
Name[ko]=Svg 부분
Name[lv]=Svg daļa
Name[nb]=Svg-del
Name[nds]=SVG-Komponent
Name[nl]=SVG-component
Name[nn]=SVG-del
Name[pa]=Svg ਭਾਗ
Name[pl]=Moduł SVG
Name[pt]=Componente de SVG
Name[pt_BR]=Parte Svg
Name[sl]=Del SVG
Name[sv]=SVG-delprogram
Name[uk]=Компонент Svg
Name[vi]=Phần nhúng đọc SVG
Name[x-test]=xxSvg Partxx
Name[zh_CN]=Svg 组件
Name[zh_TW]=Svg 部件
MimeType=image/svg+xml;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=svgpart
InitialPreference=12
Icon=svg
